<% if(userLoggedIn===true) { %>
    <form action="/logout" method="GET">
        <button type="submit">log out</button>
    </form>
    <% } else if (userLoggedIn===false) { %>
        <a href="/urls/register">Register</a>
        <% } %>