<% if(user) { %>
    <form action="/logout" method="GET">
        <button type="submit">log out</button>
    </form>
    <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <% } %>