<!DOCTYPE html>
<html lang="en">

<head></head>

<body style="font-size:20px; padding:50px;display:flex;flex-direction:column;align-items:center;">
    <h1>Register</h1>
    <form action="/register" method="POST" style="display:flex;flex-direction:column;justify-content:space-evenly;height:250px; width:200px">
        <label for="email">Email:</label>
        <input id="email" type="email" name="email" placeholder="ex. John.Doe@gmail.com" style="width: 300px" onblur="this.placeholder = 'ex. John.Doe@gmail.com'">
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" style="width: 300px" placeholder="password" onblur="this.placeholder = 'password'">
        <input type="submit" value="Register">
    </form>
</body>

</html>