<!DOCTYPE html>
<html lang="en">

<head></head>

<% if(user) { %>
    <%- include partials/_header.ejs %>
        <% } else { %>
            <a href="/register">Register</a>
            <form action="/login" method="POST">
                <label for="login">LOG IN</label>
                <input id="login" type="login" name="login" placeholder="Email" style="width: 300px">
                <input id="password" type="password" name="password" style="width: 300px" placeholder="Password">
                <input type="submit" value="Submit">
            </form>
            <% } %>

</html>